<%- include('includes/head')%>
    <%- include('includes/navbar')%>

        <section class="container">
            <div class="row">
                <div class="col-lg-2"></div>

                <div class="col-lg-8 my-3">
                    <h1 class="text-center">Agenda</h1>
                    <p class="text-center lead">veja seus contatos abaixo</p>

                    

                    <div class="responsive-table">
                        <table class="table my-3 table-striped table-hover">
                            <thead class="ms-auto">
                                <th scope="col">Nome</th>
                                <th scope="col">Sobrenome</th>
                                <th scope="col">Telefone</th>
                                <th scope="col">Email</th>
                            </thead>

                        <tbody class="table-group-divider">
                            <tr>
                                <td>Luiz</td>
                                <td>otavio</td>
                                <td>2343246567</td>
                                <td>email2email.com</td>
                            </tr>
                            <tr>
                                <td>Luiz</td>
                                <td>otavio</td>
                                <td>2343246567</td>
                                <td>email2email.com</td>
                            </tr>
                            <tr>
                                <td>Luiz</td>
                                <td>otavio</td>
                                <td>2343246567</td>
                                <td>email2email.com</td>
                            </tr>
                            <tr>
                                <td>Luiz</td>
                                <td>otavio</td>
                                <td>2343246567</td>
                                <td>email2email.com</td>
                            </tr>
                        </tbody>
                    </table>
                    </div>
                </div>

                <div class="col-lg-2"></div>
            </div>
        </section>

        <%- include('includes/footer')%>